{% set paddingX = paddingX ?? 'leftRight' %}
{% set paddingY = paddingY ?? 'topBottom' %}

{% set paddingYSize = paddingYSize ?? 'base' %}

{% set paddingXClass = {
    leftRight: 'px-6',
    left: 'pl-6',
    right: 'pr-6',
    none: 'px-0'
} %}

{% set paddingYClass = {
    small: {
        top: 'pt-8 lg:pt-16',
        bottom: 'pb-8 lg:pb-16',
        topBottom: 'py-8 lg:py-16',
        none: 'py-0'
    },
    base: {
        top: 'pt-12 lg:pt-18',
        bottom: 'pb-12 lg:pb-18',
        topBottom: 'py-12 lg:py-18',
        none: 'py-0'
    }
} %}


<div class="w-full bg-lightblue {{ attribute(attribute(paddingYClass, paddingYSize), paddingY) }}{{ class is defined ? ' ' ~ class }}">
    <div class="container mx-auto {{ attribute(paddingXClass, paddingX) }}">
        {% block sectionContent %}
        {% endblock %}
    </div>
</div>
